/* Updated CSS for responsive layout without changing the design */
.about-section {
  padding: 2rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow items to wrap to next line on smaller screens */
}

.about {
  flex: 1;
  font-size: 50px;
  color: orange;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; /* Center align on all screen sizes */
}

.content {
  flex: 3;
  padding: 1rem;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Adjust margin for smaller screens */
}

.about h2,
.content p {
  margin: 0;
}

.paragraph-container {
  flex-basis: 100%; /* Ensure each paragraph takes full width on smaller screens */
  font-size: 30px;
  text-align: justify; /* Ensure the text takes up the full width */
  margin-bottom: 20px; /* Add spacing between paragraphs */
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 250px;
  }
}