/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (left) */
  padding: 10px 20px;
  font-family: 'Playfair Display', serif;
}

.navbar img {
  height: 120px;
  margin-left: 130px;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(139, 146, 141);
  font-size: 18px;
  cursor: pointer;
}

.navbar-links a:hover {
  color: white;
}

/* Navbar toggle */
.navbar-toggle {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(139, 146, 141);
  margin: 5px 0;
  transition: 0.4s;
}

/* Responsive menu */
.navbar-links.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-links.active a {
  margin: 10px 0;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: block;
    margin-left: 10px;
  }
}
